@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color:#000000;
}

* {
    padding: 0;
    margin: 0;
    --back-color: #000000;
    --text-color: #fff;
}


/* heading  */

p {
    color: #fff;
    font-weight: 200;
    margin: 2rem 3rem;
}


/* dropdown list */

select {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem 0.5rem;
    margin: .5rem 3rem;
}

/* filter */

#filter-btn {
    background-color: #fff;
    color: #000000;
    border: 1px solid #fff;
    padding: .5rem 2.2rem;
    font-weight: 100;
    margin: .5rem 3rem;
}

/* input boxees */

.flex {
    display: flex;
    color: #fff;
    margin: .5rem 3rem;
    justify-content: space-between;
}

section>input {
    background-color: #000000;
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem 3rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: 100;
}

section {
    display: flex;
    flex-direction: column;
}

#add-btn {
    background-color: #fff;
    color: #000000;
    padding: .5rem 1.5rem;
    margin: .5rem 3rem;
}

footer {
    color: #fff;
    margin-top: 3rem;
    text-align: center;
}

.card {
    border: 1px solid #fff;
    padding: .5rem;
    margin: .5rem 3rem;
    margin-bottom: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 20px;
    align-items: center;
}